* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color:#000000;
}

.page-header {
    display: flex;
    justify-content: center;
    padding: 28px 0;
    background: #000000;
}

.header-logo {
    display: block;
}

.main-banner {
    width: 100%;
    display: block;
}

.top-infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

.top-infocard-text {
    max-width: 766px;
    margin: 0 0 66px;
}

.top-infocard-subtitle {
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
}

.top-infocard-title {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}

.top-infocard-description {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}

.top-cards {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    padding: 80px 0;
    justify-content: center;
    background: #FFFFFF;
}

.top-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 26px 34px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);

}

.top-card-image {
    display: block;
    margin-bottom: 26px;
}

.top-card-description {
    max-width: 300px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.middle-banners {
    background: #E0E0E0;
} 

.middle-banner-wrapper-first{
    position: relative;
    top: 62px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.middle-banner-wrapper-second{
    max-width: 100%;
    display: flex;
    gap: 32px;
}

.middle-banner {
    display: block;
    max-width: 556px;
}

.bottom-cards {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
    gap: 16px;
    margin-top: 172px;
}

.bottom-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 32px 58px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.bottom-card-image {
    display: block;
    margin-bottom: 14px;
}

.bottom-card-description {
    max-width: 368px;
    font-size: 16px;
    line-height: 24px;
    text-align: center
}

.bottom-infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 138px 0 104px;
}

.bottom-infocard-text {
    max-width: 550px;
    margin-bottom: 32px;
}

.bottom-infocard-title {
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 32px;
    line-height: 20px;
    text-align: center;
}

.bottom-infocard-description {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.bottom-infocard-image-desktop {
    max-width: 100%;
}

.footer-icons {
    display: flex;
    list-style: none;
    margin-bottom: 16px;
}

.footer-icon {
    margin: 0 8px;
}

.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;
    padding: 38px 0;
}

.footer-text {
    text-transform: uppercase;
    line-height: 12px;
    font-size: 10px;
    color: #BDBDBD;
}

@media screen and (max-width: 370px) {
    .top-infocard-image{
        max-width: 260px;
    }
    
    .middle-banner-wrapper-second{
        gap: 14px;
    }

    .middle-banner-first-image {
        max-width: 122px;
    }

    .middle-banner-second-image {
        max-width: 260px;
    }
}     

@media screen and (max-width: 414px) {
    .bottom-infocard-image-desktop,
    .main-banner-desktop {
        display: none;
    }

    .bottom-infocard {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0 72px 0;
    }

    .bottom-infocard-image-mobile{
        max-width: 100%;
    }

    .bottom-infocard-text {
        padding: 52px 32px 20px;
    }

    .bottom-infocard-title {
        font-size: 24px;
    }

    .page-footer {
        padding-bottom: 26px;
    }

    .footer-text {
        max-width: 280px;
        text-align: center;
    }
}

@media screen and (min-width: 415px) {
    .bottom-infocard-image-mobile,
    .main-banner-mobile {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .top-cards {
        grid-template-columns: 1fr;
        padding: 0 26px 80px;
    }

    .bottom-cards {
        grid-template-columns: 1fr;
        gap: 16px;
        margin-top: 114px;
        padding: 0 26px;
    }

    .bottom-card-description {
        font-size: 14px;
    }
}

@media screen and (max-width: 992px) {
    .top-infocard-subtitle { 
        font-size: 20px;
    }

    .top-infocard-title {
        font-size: 28px;
    }
    .top-infocard-description {
        padding: 0 26px 0 26px;
        text-align: center;   
    }
}

@media screen and (max-width: 1200px) {
    .middle-banner-wrapper-first{
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
}

@media screen and (min-width: 371px) and (max-width: 600px) {
    .middle-banner-wrapper-second{
        gap: 14px;
    }

    .middle-banner-first-image {
        max-width: 178px;
    }

    .middle-banner-second-image {
        max-width: 368px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    .middle-banner-first-image {
        max-width: 274px;
    }

    .middle-banner-second-image {
        max-width: 556px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1919px) {
    .bottom-cards {
        grid-template-columns: repeat(2, max-content);
    }

    .bottom-card-description {
        max-width: 280px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .top-cards {
        grid-template-columns: repeat(2, max-content);
    }
    
    .middle-banner-first-image {
        max-width: 274px;
    }

    .middle-banner-second-image {
        max-width: 556px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1367px) {

    .middle-banner{
        max-width: 350px;
    }
}

@media screen and (min-width: 1368px) and (max-width: 1600px) {

    .middle-banner{
        max-width: 400px;
    }
}

@media screen and (min-width: 1601px) and (max-width: 1919px) {

    .middle-banner{
        max-width: 450px;
    }
}


